themes {
 	one-dark-pro {
 		fg "#ABB2BF"
 		bg "#282C34"
 		black "#3F4451"
 		red "#E05561"
 		green "#8CC265"
 		yellow "#D18F52"
 		blue "#4AA5F0"
 		magenta "#C162DE"
 		cyan "#42B3C2"
 		white "#E6E6E6"
 		orange "#FF616E"
 	}
}
